.container {
  margin-top: 30px;
  margin-bottom: 30px;
}

.card-example {
  max-width: 350px;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 10px;
  .card-header {
    font-weight: 900;
    color: #ffffff;
    background: #20bc4c;
  }
}
